@import '_headers';
.patientCard{
    box-shadow: 0 .2em .4em rgba(64, 64, 64, .3);
    min-height: 18rem;
    border-radius: .4em;
    padding: 2em 3em;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #fafafa;
    transition: transform .1s ease-in;
    &:hover{
        transform: scale(1.03);
    }
    &__age{
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    &__name{
        @include lineUnderneath();
    }
    &__offersData{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        &__amount{
            font-weight: bold;
            color: $mainColor;
        }
    }
}
